@use './Variable.scss' as variable;

// animation TeamForge

.textAnimation {
    position: relative;
    color: #171717;
    -webkit-text-stroke: 0.1vw #171717;
    text-transform: uppercase;
    margin: 1rem ;
  }

.textAnimation::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #713f12;
    -webkit-text-stroke: 0.1vw #713f12;
    border-right: 2px solid #171717;
    overflow: hidden;
    animation: animateText 6s linear infinite;
  }
  
  @keyframes animateText {
    0%,
    10%,
    100% {
      width: 0;
    }
    70%,
    90% {
      width: 100%;
    }
  }
